.PC{display:none;}
.phone{display:block;
  width:100%;
}
body{box-sizing:border-box;}


.phonetop-wrapper{width:100%;
  height:300px;
  background-image:url("https://github.com/tanpankou/onichan/blob/master/544d7053-107d-430d-aad6-104563bf67fe.jpg?raw=true");
  background-size:cover;
  color:white;
  text-shadow:0.5px 0.5px #000;
  text-align:center;
}
.phonecontent{width:80%;
  margin:0 auto;
  padding:20px 40px;
}
.phonebtn-txt{color:rgba(0, 217, 255, 0.822);
  padding-top:15px;
}
.phoneyoutube{display:inline-block;
  background-color:rgba(255, 0, 0, 0.712);
  color:rgba(255, 255, 255, 0.808);
  width:150px;
  border-radius:15px;
  margin-right:20px;
}
.phoneapex{display:inline-block;
  background-color:rgba(172, 255, 47, 0.767);
  color:rgba(255, 255, 255, 0.863);
  border-radius:15px;
  width:150px;
}
/*ここまでがphonetop-wrapper*/


.phoneintroduse-wrapper{width:100%;
  height:400px;
  background-color:rgba(128, 128, 128, 0.432);
  text-align:center;
}
.phoneh1{font-size:40px;
  color:rgba(0, 0, 0, 0.856);
}
.phoneicon{float:left;
  width:40%;
}
.phoneonilogo{width:190px;
  height:190px;
  display:inline-block;
}
.phoneonih2{display:inline-block;
  font-size:23px;
  margin:0;
}
.phonep{font-size:15px;
  text-align:center;
}

.phonejump{float:right;
  width:45%;
  padding:50px 0;
}
.phoneyoutube-btn{display:block;
  margin:0 auto;
  width:170px;
  background-color:rgba(255, 0, 0, 0.842);
  color:white;
  border-radius:15px;
  padding:3px 8px;
  margin-bottom:35px;
  font-size:15px;

}
.fa-youtube{font-size:15px;
  padding-right:8px;
}
.phonetwitter-btn{display:block;
  margin:0 auto;
  width:170px;
  background-color:rgba(100, 148, 237, 0.863);
  color:white;
  border-radius:15px;
  padding:3px 8px;
  font-size:15px;
}
.fa-twitter{font-size:15px;
  padding-right:8px;
}
/*ここまでがphoneintroduse-wrapper*/


.phonemovie-wrapper{width:100%;
height:400px;
background-color:rgba(128, 128, 128, 0.432);
text-align:center;
}
.onikill{display:block;
  margin:0 auto;
}
.phoneborderh2{border-top:1px solid gray;
  padding-top:20px;
}
.color-change{color:red;
  text-shadow:1px 1px black;
}
/*ここまでがphonemovie-wrapper*/


.phonecomment-wrapper{width:100%;
  text-align:center;
  height:1360px;
}
.phoneleft{font-size:25px;
}
.phonecenter{line-height:center;
  color:rgba(0, 0, 0, 0.664);
}
.phonetxt{color:red;
  font-size:20px;
  margin:0;
  display:block;
}
.phoneemblem{height:180px;
  border:1px solid gray;
  margin:5px 5px;
  background-color:rgba(232, 247, 21, 0.308);
}
.phoneicon{float:left;
  width:40%;
  padding:20px 10px;
}
.phoneemblem img{width: 100px;
  height:100px;}
  .phoneinfo{color:rgba(0, 0, 0, 0.671);
  font-size:18px;
  padding:50px 20px;
}
/*phonecomment-wrapperはここまで*/


.phonefooter{background-color:rgba(255, 127, 80, 0.411);
  width:100%;
  height:130px;
  display:flex;
}
.phonesuport{float:left;
  width:40%;
  text-align:center;
  align-items:flex-start;
}
.phoneh3{color:rgba(78, 77, 77, 0.747);
font-size:15px;}
.phonecreater{float:right;
  width:40%;
  text-align:center;
  align-self:flex-end;
}
.phonep2{color:rgba(78, 76, 76, 0.842);
  font-size:15px;
  margin:0;
}
.phonecreater a{font-size:10px;
  display:inline-block;
}
.phoneslash{border-right:1px solid gray;
  padding-right:5px;
}
