.PC{display:none;}
.phone{display:block;
  width:100%;
}
body{box-sizing:border-box;}


.phonetop-wrapper{width:100%;
  height:450px;
  background-image:url("https://github.com/tanpankou/onichan/blob/master/544d7053-107d-430d-aad6-104563bf67fe.jpg?raw=true");
  background-size:cover;
  color:white;
  text-shadow:1.5px 1.5px #000;
  text-align:center;
}
.phonecontent{width:80%;
  margin:0 auto;
  padding:20px 40px;
}
.phonehwiki2{font-size:50px;
  letter-spacing:3px;
}
.phonewikip{font-size:25px;
}
.phonebtn-txt{color:rgba(0, 217, 255, 0.822);
  font-size:30px;
}
.phoneyoutube{display:inline-block;
  background-color:rgba(255, 0, 0, 0.712);
  color:rgba(255, 255, 255, 0.808);
  width:250px;
  padding:10px 0;
  border-radius:30px;
  margin-right:60px;
  font-size:30px;
}
.phoneapex{display:inline-block;
  background-color:rgba(172, 255, 47, 0.767);
  color:rgba(255, 255, 255, 0.863);
  border-radius:30px;
  width:250px;
  font-size:30px;
  padding:10px 0;
}
/*ここまでがphonetop-wrapper*/


.phoneintroduse-wrapper{width:100%;
  height:650px;
  background-color:rgba(128, 128, 128, 0.432);
  text-align:center;
}
.phoneh1{font-size:70px;
  color:rgba(0, 0, 0, 0.856);
}
.phoneicon{float:left;
  width:50%;
}
.phoneonilogo{width:300px;
  height:300px;
  display:inline-block;
}
.phoneonih2{display:inline-block;
  font-size:40px;
  margin:0;
}
.phonep{font-size:35px;
  text-align:center;
}

.phonejump{float:right;
  width:50%;
}
.phoneyoutube-btn{display:block;
  margin:0 auto;
  width:350x;
  background-color:rgba(255, 0, 0, 0.842);
  color:white;
  border-radius:30px;
  padding:10px 20px;
  margin-bottom:35px;
  font-size:30px;

}
.fa-youtube{font-size:30px;
  padding-right:10px;
}
.phonetwitter-btn{display:block;
  margin:0 auto;
  width:350px;
  background-color:rgba(100, 148, 237, 0.863);
  color:white;
  border-radius:30px;
  padding:10px 20px;
  font-size:30px;
}
.fa-twitter{font-size:30px;
  padding-right:10px;
}
/*ここまでがphoneintroduse-wrapper*/


.phonemovie-wrapper{width:100%;
height:670px;
background-color:rgba(128, 128, 128, 0.432);
text-align:center;
}
.onikill{display:block;
  margin:0 auto;
}
.phoneborderh2{border-top:1px solid gray;
  padding-top:30px;
  font-size:40px;
  letter-spacing:5px;
}
.color-change{color:red;
  text-shadow:1px 1px black;
}
/*ここまでがphonemovie-wrapper*/


.phonecomment-wrapper{width:100%;
  text-align:center;
  height:2300px;
}
.phoneleft{font-size:45px;
  letter-spacing:5px;
}
.phonecenter{line-height:center;
  color:rgba(0, 0, 0, 0.664);
  font-size:30px;
  letter-spacing:3px;
}
.phonetxt{color:red;
  font-size:30px;
  margin:0;
  display:block;
}
.phoneemblem{height:270px;
  border:1px solid gray;
  margin:10px 10px;
  background-color:rgba(232, 247, 21, 0.308);
}
.phoneicon{float:left;
  width:40%;
  padding:40px 10px;
}
.phoneemblem img{width: 150px;
  height:150px;}
  .phoneinfo{color:rgba(0, 0, 0, 0.671);
  font-size:25px;
  letter-spacing:3px;
  padding:70px 20px;
}
/*phonecomment-wrapperはここまで*/


.phonefooter{background-color:rgba(255, 127, 80, 0.411);
  width:100%;
  height:200px;
  display:flex;
}
.phonesuport{float:left;
  width:45%;
  text-align:center;
  align-items:flex-start;
}
.phoneh3{color:rgba(78, 77, 77, 0.747);
font-size:20px;
margin:0;
}
.phonecreater{float:right;
  width:40%;
  text-align:center;
  align-self:flex-end;
  padding-top:80px;
}
.phonep2{color:rgba(78, 76, 76, 0.842);
  font-size:20px;
  margin:0;
}
.phonecreater a{font-size:20px;
  display:inline-block;
}
.phoneslash{border-right:1px solid gray;
  padding-right:10px;
  margin-right:10px;
}
